@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=PT+Sans:wght@700&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

.home a{
    /*Issue # 1 The href decoration was still on Hot Bowl Cusine logo so it's set to none */
    text-decoration: none;
}

a > h1{
    font-family: 'Dancing Script', sans-serif;
    display: inline;
    font-size: 280%;
    /* Change logo href color from blue to black */
    color: black;    
}

.home{
    /* Issue # 2 The pink header strip was overflowing from right so width is set to auto instead of 100% */
    width: auto;
    height: 70px;
    padding: 10px 0 0 10px;
    background-color: #FFD8E4;
    line-height: 50px;
}
.nav{
    float:right;
    padding-right: 15px;
}
.menu li{
    list-style: none;
    float: left;
    margin-right: 30px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    font-family: 'Dancing Script', sans-serif;
}

/* Main Image */
#main-sec{
    position: relative;
}
#main-image{
    height: 600px;
    background: #EADDFF url('../images/background.webp') center center no-repeat;
    background-size: cover;
    /* Issue 3 add overflow hidden so that screen does not leave alot of white space on right (small screens)*/
    overflow: hidden;
}
#main-image-label{
    font-family: 'Dancing Script', sans-serif;
    font-size:xx-large;
    background-color: rgba(26, 14, 14, 0.6) ;
    color: #ffffff;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    right: 15%;
    top: 22%;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    border: 10px solid #633B48;
}

/* search bar */
#search-bar{
    background-color: #EADDFF;
    height: 70px;
}
#search-bar-inner {
    line-height: 75px;
    text-align: center;
}
#search-bar-inner > label, #search{
    font-family: 'Dancing Script', sans-serif;
    font-size: xx-large;
    color: #1C1B1F;
    font-weight: 900;
}

/* background image for demo cooking video */
#food-vid{
    background: #633B48 url('../images/background-2.webp') no-repeat center center;
    background-attachment: fixed;
    text-align: center;
    background-size: cover; 
    /* Issue 4 add overflow hidden so that screen does not leave alot of white space on right (small screens)*/
    overflow: hidden;
}