@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=PT+Sans:wght@700&family=Quicksand&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

.home a{
    /*Issue # 1 fix */
    text-decoration: none;
}

a > h1{
    font-family: 'Dancing Script', sans-serif;
    display: inline;
    font-size: 280%;
    /* Change logo href color from blue to black */
    color: black;    
}

.home{
    width: 100%;
    height: 70px;
    padding: 10px 0 0 10px;
    background-color: #FFD8E4;
    line-height: 50px;
}
.nav{
    float:right;
    padding-right: 15px;
}
.menu li{
    list-style: none;
    float: left;
    margin-right: 30px;
}
li a{
    text-decoration: none;
    color: black;
    font-size: 200%;
    font-family: 'Dancing Script', sans-serif;
}
